.container {
	margin: 0 14px;
}

.form {
	width: 100%;
	display: flex;
	gap: 25px;
}

.form input {
	height: 50px;
	width: 100%;
	outline: none;
	border: none;
	padding: 0 14px;
	border-radius: 5px;
}

.form button {
	background: transparent;
}

table {
	border-collapse: separate;
	border-spacing: 0 14px;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 16px;
	margin: 0.5em 0 0.75em;
}

th {
	color: #fff;
}

.tr {
	background-color: #1d1c20;
}

td:first-child,
th:first-child {
	border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child {
	border-radius: 0 8px 8px 0;
}

table th,
table td {
	padding: 14px;
	text-align: center;
}

.tdLabel {
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.tdProfit {
	color: #12f98a;
	font-weight: bold;
}

.tdLoss {
	color: #f91257;
	font-weight: bold;
}

.btnLoadMore {
	background-color: hsl(209, 100%, 59%);
	color: #fff;
	font-weight: bold;
	padding: 8px 14px;
	margin: 14px 0;
	border-radius: 8px;
	transition: all 0.5s ease;
}

.btnLoadMore:hover {
	background-color: hsl(209, 100%, 49%);
}

/* Media queries */
@media screen and (max-width: 600px) {
	table {
		border: 0;
	}

	table thead {
		border: none;
		clip-path: inset(50%); /* clip: rect(0 0 0 0); (OBSOLETO)*/
		height: 1px;
		width: 1px;
		margin: -1px;
		overflow: hidden;
		position: absolute;
		padding: 0;
	}

	.tr {
		border-bottom: 1px solid #ddd;
		display: block;
		margin-bottom: 14px;
	}

	table td {
		border-bottom: 1px solid rgba(221, 221, 221, 0.17);
		display: block;
		text-align: right;
		font-size: 14px;
	}

	table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	td:first-child,
	th:first-child {
		border-radius: 0;
	}

	td:last-child,
	th:last-child {
		border-radius: 0;
	}
}
