.container {
	padding: 0 14px;
	color: #fff;
}

.center {
	text-align: center;
	margin-bottom: 14px;
}

.content {
	background-color: #0f0f0f;
	margin: 24px auto;
	padding: 24px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 480px;
	border-radius: 18px;
	gap: 18px;
}

.logo {
	width: 60px;
	height: 60px;
	transition: all 1s;
}

.logo:hover {
	transform: rotate(360deg);
}

.profit {
	color: #12f98a;
}

.loss {
	color: #f91257;
}
