* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #18171c;
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	font-family: sans-serif;
}

button {
	cursor: pointer;
	border: 0;
}

a {
	text-decoration: none;
	color: #fff;
}
